.profcontent p{
    margin-bottom: 1rem;
    margin-top: 1rem;
    
}

table {
    border-collapse: collapse;
    text-align: center;
    align-items: center;
    margin-left: 38%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #454444c3;
    color: white;
}

