@media(max-width: 1024px){
    .container{
        padding: 0 1rem;
    }

    .img-overlay p {
        letter-spacing: 6px;
    }
    
    .img-overlay h2 {
        font-size: 3rem;
        letter-spacing: 3px;
    }
}

@media(max-width: 900px){
    .button {
        display: block;
    }
    nav ul{
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 400px;
        background: #00000096;
        top: -600px;
        left: 0;
        padding: 3rem 1rem;
        transition: all 0.5s ease-in;
    }

    nav ul li a{
        display: block;
        margin: 15px;
    }

    .close{
        position: absolute;
        top: 0rem;
        right: 0;
        margin: 25px;

    }

    nav ul.display{
        top: 0;
        transition: all 0.5s ease-in-out;
    }

    nav ul li::before{
        top: 45px;
        left: 10px;
        
    }
    
    nav ul li:hover::before{
        opacity: 1;
        width: 15%;
    }

    .img-overlay p {
        letter-spacing: 4px;
    }
    
    .img-overlay h2 {
        font-size: 1.5rem;
        letter-spacing: 0px;
    } 

    .choose-wrapper{
        grid-template-columns: 1fr;
        
    }
    
    .row-wise-img{
        grid-template-columns: 1fr;
    }

    .img-content{
        bottom: 10px;
    }

    .rentel-content-wrapper{
        grid-template-columns: 1fr;
    }
}